<div class="min-h-full min-w-full w-full h-auto fixed bg-cover" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.2)), url(<%= Routes.static_path(@conn, "/images/cat.jpg") %>)">
  <div class="text-center text-white pb-16">
    <h1 class="font-sans font-bold text-center mt-32 text-grey-white text-5xl" style="text-shadow: 1px 1px 2px #0a0a0a">Welcome to Catcasts!</h1>
  </div>
</div>